#menubar {
    width: 50px;
    height: 100%;
    background: #111;
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: 0.3s;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

#menubar a {
    padding: 10px 10px 10px 12px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: #555;
}

#menubar a:hover, .offcanvas a:focus{
    color: #FFF;
}

.glyphicon {
    padding-right: 20px;
}

.content tr td {
    height: 300px;
    width: 400px;
    background-color: blue;
}